* {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #F8F3EA;
    width: fit-content;
    margin: auto;
}

.box {
    margin-top: 20px;
    padding: 2px 5px 2px 5px;
    background-color: #fff;
    width: 700px;
    height: auto;
    
}

.banana {
    height: 500px;
    width: auto;
}

.cocktail-img {
    width: 600px;
    height: auto;
}

.recipes {
    list-style: none;
    display:flex;
    justify-content: right;
}

